::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #012D4B;
  width: 100%;
}

.content {
  padding: 1rem;
  height: 100vh;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
}

.deconstructed {
  position: relative;
  margin: auto;
  height: 1em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed>div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #c3c7cc;
  pointer-events: none;
}

.deconstructed>div:nth-child(1) {
  -webkit-mask-image: linear-gradient(#012D4B 25%, transparent 25%);
  mask-image: linear-gradient(#012D4B 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed>div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, #012D4B 25%, #012D4B 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, #012D4B 25%, #012D4B 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed>div:nth-child(3) {
  -webkit-mask-image: linear-gradient(transparent 50%, #012D4B 50%, #012D4B 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, #012D4B 50%, #012D4B 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed>div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, #012D4B 75%);
  mask-image: linear-gradient(transparent 75%, #012D4B 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
}

@keyframes deconstructed2 {
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
}

@keyframes deconstructed3 {
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
}

@keyframes deconstructed4 {
  24% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.2%);
  }
}

.text-center {
  text-align: center;
}

.whoiam {
  font-family: Consolas, "courier new";
  color: #c3c7cc;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.skills {
  font-family: Consolas, "courier new";
  color: #c3c7cc;
  font-size: 1.2rem;
  padding: 0 20%;
  margin-bottom: 4rem;
}

.skills p {
  margin-bottom: 3rem;
}

.a--about-me {
  color: teal;
}

.contact {
  padding-bottom: 1rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 50%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 100%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #0051f4;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 2vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(15) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(15) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
  }

  #form {
    width: 90%;
    margin: 50px auto 0 auto;
  }

  input {
    padding: 2px;
  }

  textarea{
    padding: 2px;
  } 
}